{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'dashboard/css/stylos.css' %}">
  <!--link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"-->
  {% block extra_css %}
  {% endblock extra_css %}
  <script src="https://kit.fontawesome.com/a098a59c51.js" crossorigin="anonymous"></script>
</head>
<body id="body">
  <header>
    <div class="icon__menu">
      <i class="fas fa-bars" id="btn_open"></i>
    </div>
  </header>
  <div class='menu__side' id="menu_side" >

    <div class="name__page">
      <i class="far fa-user-circle"></i>
      <div>Usuario</div>
    </div>
    
    <div class="options__menu">
      
      <a href="#"  class='select'>
        <div class="options" >
          <i class="fas fa-home" title="Inicio"></i>
          <h4>Inicio</h4>  
        </div>
      </a>
      <div>
        <a href="{% url 'listar_docente'%}">
          <div class="options">
            <i class="fas fa-user-tie" title="Docentes"></i>
            <h4>Docentes</h4>  
          </div>
        </a>
      </div>
      <div>
        <a href="{% url 'listar_curso'%}" >  
          <div class="options">
            <i class="fas fa-book" title="Cursos"></i>
            <h4>Cursos</h4>  
          </div>
        </a>
      </div>

      <a href="#">  
        <div class="options">
          <i class="fas fa-file-signature" title="Carga Academica"></i>
          <h4>Carga Academica</h4>  
        </div>
      </a>                          
    </div>
  </div>                                                        
  {% block main %}
   <main class="main col">
      {%block div%}
      
      {%endblock div%}
   </main>
  {% endblock main %}
  <script src="{% static 'dashboard/js/script.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
