
{%extends 'index.html'%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/card.css' %}">
{% endblock extra_css %}
<body>
    {% block div %}
    <div class="card-container">
        <div class="card">
          <h1 class="center">GENERAR CARGA</h1> 
          <div class="front">
                <form  method="POST">{% csrf_token %}
                    <p class="text-break"><h2 class=""></h2></p>
                    {{ carga_form.as_p }}
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
          </div>
          <div class="back">
          </div>
        </div>
    </div>

    <!-- /.navbar-collapseform  method="POST">{% csrf_token %}
         <p class="text-break"><h2 class=""></h2></p>
         {{ carga_form.as_p }}
         <button type="submit" class="btn btn-success">Guardar</button>
    </form-->
  
    {% endblock div %}
</body>