{% extends 'index.html' %}
{% block titulo %} Creacionde  Horarios y Detalles {% endblock titulo %}
{% block body %}
  <form  Method="POST">
     {% csrf_token %}
     {% if error %}
        <h2>{{ error }}</h2>
     {% else %}
        <div>
           <div class="mx-auto" style="width: 200px;">Crear Nuevo Curso Horario</div>
        </div>
        <p class="text-break"><h2 class="">Crear Nuevo Curso Horario</h2></p>
        {{ cursoH_form.as_p }}
        <button type="submit" class="btn btn-success">crear</button>
     {% endif %}
  </form>
{% endblock body %}