{%extends 'index.html'%}
{% load static %}
{% block extra_css %}
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">  
{% endblock extra_css %}

<body>
  {%block div%}
    <div class="contenido">
      <div class="card">
        <div class="card-header">
          <div class="row">
              <div class="col-sm-8">
                  <strong class="card-title">Listado de Cursos</strong>
              </div>
          </div>
        </div>
        {% if cursos%}
          <div class='table-stats order-table ov-h'>
            <div>
              <a href="{% url 'crear_curso'%}">
                <button type="button" class="btn btn-dark">Nuevo Curso</button>
              </a>
              <a href="{% url 'listar_cursoh'%}">
                <button type="button" class="btn btn-dark">Horarios</button>
              </a>
            </div>
            <div class="table-responsive">
              <div class='table-stats order-table ov-h'>
                <table id="tabla_usuarios" class="table">
                  <thead>
                    <tr>
                      <th> codigo </th>
                      <th>nombre</th>
                      <th>cdt</th>
                      <th>Escuela Profesional</th>
                      <th>Grp</th>
                      <th>Hr.Disponible</th>
                      <th>Editar</th>
                      <th>Elimiar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for curso1 in cursos%}
                      <tr>
                        <td>{{ curso1.code }}</td>
                        <td>{{ curso1.name }}</td>
                        <td>{{ curso1.credits }}</td>
                        <td>{{ curso1.carrera }}</td>
                        <td>{{ curso1.grupo }}</td>
                        <td>
                          <a href="{% url 'mostrarNomCod' curso1.code %}">
                            <button type="button" class="btn btn-info">
                              Horarios
                            </button>
                          </a>
                        </td>
                        <td>
                          <a href="{% url 'editar_curso' curso1.code %}"><button type="button" class="btn btn-success">Edit</button></a>
                        </td>
                        <td>
                          <a href="{% url 'eliminar_curso' curso1.code %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% else %}
          <h1>No existe cursos</h1>
        {% endif %}
      </div>
    </div>
  {%endblock div%}
</body>