{% extends "./base.html" %}

{% block title %} Gestión de Carga Academica {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de Cargas Academicas</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCargaAcademica/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código"
                            minlength="8" maxlength="8" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtCarrera" name="txtCarrera" class="form-control" placeholder="Carrera"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDocente" name="txtDocente" class="form-control" placeholder="Docentes"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numCreditos" name="numCreditos" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipo" name="txtTipo" class="form-control" placeholder="Tipo"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtGpo" name="txtGpo" class="form-control" placeholder="Gpo"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtHt" name="txtHt" class="form-control" placeholder="Ht"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtHp" name="txtHp" class="form-control" placeholder="Hp"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDia" name="txtDia" class="form-control" placeholder="Dia"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtHorario" name="txtHorario" class="form-control" placeholder="Horario"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtAula" name="txtAula" class="form-control" placeholder="Aula"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtMatriculados" name="txtMatriculados" class="form-control" placeholder="Matriculados"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Cargas Academicas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Carrera</th>
                        <th>Docente</th>
                        <th>Creditos</th>
                        <th>Tipo</th>
                        <th>Gpo</th>
                        <th>Ht</th>
                        <th>Hp</th>
                        <th>Dia</th>
                        <th>Horario</th>
                        <th>Aula</th>
                        <th>Matriculados</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ca in CargaAcademica %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ ca.Codigo}}</td>
                        <td>{{ ca.Carrera }}</td>
                        <td>{{ ca.Docente }}</td>
                        <td>{{ ca.Creditos }}</td>
                        <td>{{ ca.Tipo }}</td>
                        <td>{{ ca.Gpo }}</td>
                        <td>{{ ca.Ht }}</td>
                        <td>{{ ca.Hp }}</td>
                        <td>{{ ca.Dia }}</td>
                        <td>{{ ca.Horario }}</td>
                        <td>{{ ca.Aula }}</td>
                        <td>{{ ca.Matriculados }}</td>
                        <td><a href="edicionCargaAcademica/{{ca.Codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCargaAcademica/{{ca.Codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}