{% extends 'index1.html' %}

{% block titulo %} Creacionde  Horarios y Detalles {% endblock titulo %}
{% block div %}
   <h1>CURSO</h1>
   
 <!--  
   <form   Method="POST">
     {% csrf_token %}
     {% if error %}
        <h2>{{ error }}</h2>
     {% else %}
        <p class="text-break"><h2 class="">Crear Tipo Curso</h2></p>
        
        <button type="submit" class="btn btn-success">crear</button>
      {% endif %}
  </form>-->

   <div class="card">
      <div class="card-header">
         <h2>detalle curso</h2>
      </div>
      <div class="card-body">
         <form method="POST" >
            {% csrf_token %}
         
              
              {{ cursoHorario_form.as_p }} 
                

         <br>
         <button type="submit" class="btn btn-primary">AGREGAR </button>
         </form>
      </div>
   </div>
{% endblock div %}