@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin-left: 80px;
    margin-top: 80px;
    transition:margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
header{
    width:100%;
    height:70px;
    background:#f5f5f5;
    display:flex;
    align-items: center;
    position: fixed;
    top:0;
    z-index:9999;
}
.icon__menu{
    width:50px;   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f5f5f5; 
    transform: translatex(10px);
}
.icon__menu i{
    font-size:20px;
    cursor: pointer;
    position:absolute;
}
.menu__side{
    width:80px;
    height:100%;
    background:#15507A;
    position:fixed;
    top:0;
    left:0; 
    color:white;
    font-size: 18px;
    z-index: 9999;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #15507A ;
    transition:all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
}
/* ocultar scroll para chrome ,safary y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}
/*ocultar scroll para IE,Edge y Firefox*/
.menu__side{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.name__page{
    padding: 20px 30px;
    display :flex;
    align-items: center;
    margin-top:130px;
}
.name__page i{
    width:20px;
    margin-right: 20px;

}
.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 170px;
}
.options__menu a{
    color:#ffffffb2;
    cursor:default;
    display:block;
    position: relative;
    transition: color 300ms;
}
.options__menu a:hover{
    color:#f5f5f5;
}
.options__menu .options{
    padding: 20px 0px;
    display:flex;
    align-items: center;
    position: relative;
}
.options__menu .options i{
    margin-right: 20px;
    cursor: pointer;
}
.options__menu .options h4{
    font-weight: 300;
    cursor:pointer;

}
a.select{
    color:white;
}
.select::before{
    content:'';
    width:3px;
    height:80%;
    background: white;
    position:absolute;
    top:10%;
    left:-30px
}

.body_move{
    margin-left:250px;
}
.menu__side_move{
    width:250px;
}
main{
    padding:30px;
}
@media screen and (max-width: 1000px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
.contenido{
    padding: 80px 200px;
    display:flex;
    align-items: center;
    z-index: 9999;
}