
{%extends 'index.html'%}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}
<body>
    {% block div %}
        <a href="{% url 'create' %}"><button type="button" class="btn btn-primary mt-1">Agregar Nuevo Docente</button></a>
            <div class='container'>
                <di class="row">
                    <di class='col-md-'>
                        <table style='font-size: 11.5px' border="1" class="table  table-hover table-bordered " cellpadding="10">
                            <thead>
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRE</th>
                                    <th>CORREO</th>
                                    <th>CATEGORIA</th>
                                    <th> </th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for docente in docentes %}
                                    <tr>
                                        <td>{{docente.iddocente}}</td>
                                        <td>{{docente.nombrecompleto}}</td>
                                        <td>{{docente.correo}}</td>
                                        <td>{{docente.idcategoria}}</td>
                                        
                                        <td>
                                            <a href="{% url 'update' docente.iddocente %}"><button type="button" class="btn btn-success">Edit</button></a>
                                            <a href="{% url 'delete' docente.iddocente %}"><button type="button" class="btn btn-danger">Delete</button></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </di>
                </di>
            </div>
        </a>
    {% endblock div %}
</body>